.details {
}

  .title-tile {
  background: #04838f;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  border: 2px solid #04838f;
  padding: 20px;
  height: 25px;
  width: 200px;
  text-align: center;
}

.flexbox-container{
  display: flex;
  justify-content: center;
}
