<div class="flexbox-container column">
    <ng-container *ngIf="isFetching$ | async; else content">
        <p>Loading data details for country {{ selectedCountry }}...</p>
        <app-spin-loader></app-spin-loader>
    </ng-container>

  <ng-template #content>
    <ng-container *ngIf="isSelectedCountryValid; else hasNoData">
      <div class="main-box-with-green-background">{{ selectedCountry }}</div>
      <div class="flexbox-container">
        <app-tile-information *ngFor="let detailInfo of detailsInformation"
                              [title]="detailInfo.title" [value]="detailInfo.value">
        </app-tile-information>
      </div>

      <div class="ngx-chart-bar">
        <ngx-charts-bar-vertical [results]="chartDetails"
                                 [gradient]="false"
                                 [xAxis]="true"
                                 [yAxis]="true"
                                 [legend]="false"
                                 [showXAxisLabel]="true"
                                 [showYAxisLabel]="true"
                                 xAxisLabel="Years"
                                 yAxisLabel="Medals">
        </ngx-charts-bar-vertical>
      </div>

    </ng-container>
  </ng-template>

  <ng-template #hasNoData>
    <p>No data was found for country : {{ selectedCountry }}</p>
  </ng-template>

  <div class="button-container">
    <button class="button" (click)="goBackToHomePage()">Go back</button>
  </div>
</div>




