<section xmlns="http://www.w3.org/1999/html">
  <ng-container *ngIf="isFetching$ | async; else content">
    <p>Fetching data...</p>
    <app-spin-loader></app-spin-loader>
  </ng-container>

  <ng-template #content>
    <div class="title-tile">Medals per Country</div>
    <div class="flexbox-container">
      <ng-container *ngIf="generalInformation && generalInformation.length > 0; else hasNoData">
        <app-tile-information *ngFor="let info of generalInformation"
                              [title]="info.title" [value]="info.value">
        </app-tile-information>
      </ng-container>
    </div>

    <ngx-charts-pie-chart [results]="medals" [labels]="true" [gradient]="true" [trimLabels]="false" [legend]="false" (select)=selectCountryById($event)>
      <ng-template #tooltipTemplate let-model="model">
        <app-pie-chart-tooltip [country]="model.name" [medals]="model.value"></app-pie-chart-tooltip>
      </ng-template>
    </ngx-charts-pie-chart>

    <ng-template #hasNoData>
      <p>No data to show...</p>
    </ng-template>


  </ng-template>
</section>
