.flexbox-container{
  display: flex;
  justify-content: center;
}

.main-box-with-green-background {
  background: #04838f;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  border: 2px solid #04838f;
  padding: 20px;
  height: 20px;
  width: 200px;
  text-align: center;
  margin-left: 220px;
  margin-bottom: 20px;
  margin-top: 70px;
}
