.flexbox-container{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Full viewport height */
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.main-box-with-green-background {
  background: #04838f;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  border: 2px solid #04838f;
  padding: 20px;
  height: 20px;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.ngx-chart-pie{
  margin-top: 25px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
