<div class="flexbox-container column">
    <ng-container *ngIf="isFetching$ | async; else content">
        <p>Fetching data...</p>
        <app-spin-loader class="spin-loader"></app-spin-loader>
    </ng-container>
</div>

  <ng-template #content>
    <ng-container *ngIf="generalInformation && generalInformation.length > 0; else hasNoData">
    <div class="main-box-with-green-background">Medals per Country</div>
    <div class="flexbox-container row">
        <app-tile-information *ngFor="let info of generalInformation"
                              [title]="info.title" [value]="info.value">
        </app-tile-information>
    </div>

    <div class="ngx-chart-pie">
      <ngx-charts-pie-chart [results]="chartDetails"
                            [view]="chartView"
                            [labels]="true"
                            [gradient]="true"
                            [trimLabels]="false"
                            [legend]="false"
                            (select)=selectCountryByName($event)>
        <ng-template #tooltipTemplate let-model="model">
          <app-pie-chart-tooltip [country]="model.name" [medals]="model.value"></app-pie-chart-tooltip>
        </ng-template>
      </ngx-charts-pie-chart>
    </div>

    </ng-container>
  </ng-template>


  <ng-template #hasNoData>
    <h2>No data to show...</h2>
  </ng-template>


