.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Full viewport height */
}

.column{
  flex-direction: column;
}

.main-box-with-green-background {
  background: #04838f;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  padding: 20px;
  height: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.ngx-chart-pie{
  margin-top: 75px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 600px;
  height: 400px;
}

@media (max-width: 800px) {
  .ngx-chart-pie {
    width: 300px;
    height: 200px;
    margin-top: 20px;
  }
  .main-box-with-green-background {
    width: 100px;
    font-size: 14px;
    margin-top: 20px;
  }
}
