.tooltip{
  background: #04838f;
  width: 100%;
  min-width: 100px;

  &__country {
    font-size: 18px;
    font-weight: normal;
    color: white;
  }

  &__medals {
    font-size: 15px;
    color: white;
  }

  &__img {
      filter: sepia(50%) saturate(300%) brightness(70%) hue-rotate(180deg);
  }
}
